@import "styles/variables";


.container {
	padding-top: 8px;

	&__head {
		@include tablet {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-auto-flow: dense

		}
	}
}

.photo {
	width: 100%;
	height: 100%;
	object-fit: cover;

	&__container {
		border-radius: 100%;
		width: 55vw;
		height: 55vw;
		overflow: hidden;
		margin: 0 auto;

		@include tablet {
			width: 200px;
			height: 200px;
		}
	}
}

.title {
	text-align: center;
	white-space: pre-wrap;
	padding: 16px 0 24px;
}
