@import "styles/variables";

.bg {
	&__black {
		background-color: $black;
	}

	&__darkGray {
		background-color: $dark-gray;
	}
}


.color {
	&__white {
		color: $white;
	}

	&__black {
		color: $black;
	}

	&__peach {
		color: $peach;
	}
}