@import "styles/variables";


.wrapper {
	padding: 24px 0;
}

.container {
	@include desktop {
		width: 800px;
		margin: 0 auto;

	}
}


.menu {
	display: flex;
	justify-content: flex-end;
	@include tablet {
		display: none;
	}
}



.list {
	display: none;

	@include tablet {
		display: flex;
		column-gap: 16px;
		justify-content: flex-end;
	}
}

.icon {
	opacity: 0.5;
}
